@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app is also configured with an API to refresh tokens, create new accounts, or create a quote.</p>
    <p>For the purposes of this test I did some things I typically wouldn't do.</p>
    <p>I wouldn't store the connection string in source control. The key used in the JWT signing would also not be stored in source code.'</p>
    <p>I would also require verification of audience and source.</p>
</div>
